<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/scripts.js"></script>
  <body>
    <%- include('../partials/header')%>
    <div class="head_space"></div>
    <main>
      <!-- Carousel start from here -->
      <div id="carouselExample" class="carousel slide" data-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
         <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="centered">
             <!-- welcome_terminal.ejs here -->
             <%- include('../interactive views/welcome_terminal.ejs') %>
             
            
          
            </div>
          </div>
          <div id="viewholder_projects" class="carousel-item">
            <!-- JavaScript must start from here.... -->
            <!-- Get data from data base and show it here  -->
            <!-- loading.ejs is the placeholder-->
            <!-- Script to get data -->
            <!-- Take the data list and display it -->
            
            <div class="centered">   
              <!-- project-grid.ejs include here --> 
              <!-- call a get method here1       -->
              <%- include('../interactive views/project-grid.ejs')%>
              
            </div>  
            
            
          </div>
          <!-- Final Solution of the problem  -->
         
          
          
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    </main>
     
  <%- include('../partials/footer')%>
    
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
      defer
  ></script>
     
   
  </body>
</html>
